@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

:root {
    --fonte1:  Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Roboto', sans-serif;
    --fonte3:  'Fasthand', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
    
}
header {
    
    background-color: black;
    color: white;
    text-align: center;
    
}



header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 6vw;
}

header > p {
    padding-bottom: 50px;
}

link {
    color: wheat;
    text-decoration: none;
    font-weight: bolder;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}
section.normal {
    background-color: white;
    color: black;
}

section.imagem {

    background-color: rgba(0, 0, 0, 0.274) ;
    color: white;
    box-shadow: inset 6px 6px 13px 0 black;
    background-attachment: fixed;
}

section.imagem > p {

    display: inline-block;
    background-color: rgba(0, 0, 0, 0.342);
    padding: 5px;
    text-shadow: 1px 1px 0 black;
    border-radius: 5px;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}